// --- VARS

$backgroundVars:						#f9f9f9;
$noPadding:								0;
$smallPadding:							0.5%;
$largePadding:							2%;
$headerColour:							#000000;
$letterSpacing:	        				2px;
$defaultFontSize:						1em;
$padding:              					0.8%;
$trans:                                 rgba(0,0,0,0.2);
$border-radius-amount:                  5px;    
$padding:                               1%;
$transparent-bg:                        rgba(0,0,0,0.8);

$white: 								#FFFFFF;
$black: 								#000000;
$opacityValue:							0.8;
$translucentText:						rgba(0,0,0,$opacityValue);

$colour1:  								#9CABCF;
$colour2:  								darken($colour1, 5%);;
$colour3:  								darken($colour1, 10%);
$colour4:  								darken($colour1, 15%);
$offWhite: 								#d5dbec;
$darkishBlue: 							#5a70a5;


// --- EXTENDS
%clearfix:after
{
	display:							block;
	clear:								both;
	content:							"";
}

%center
{
	margin-left:						auto !important;
    margin-right: 						auto !important;
    display:							inline-block !important;
    text-align:							center;
}

%fancyFont
{
	font-family: 						'Righteous', cursive;
}

%normalFont
{
	font-family:						'Cuprum';
	color:								#000000;
}

%input-default
{
    padding:                            $padding * 2;
    border-radius:                      $border-radius-amount;
    outline:                            none;
    background:                         $trans;
    border:                             none;
    border-bottom:                      2px solid darken($colour2, 10%);
    transition:                         all 0.7s;
    width: 								45%;
	@extend  %normalFont;
	margin-top: 						1%;
	margin-bottom: 						1%;
	font-size: 							1.6em;
}

%input-hover
{
    border-bottom:                      2px solid lighten($colour2, 5%);
    background:                         none;
    cursor:                             -moz-pointer;
    cursor:                             -webkit-pointer;
    cursor:                             pointer;
}


// --- FONT DEF

@font-face {
	font-family:						'Cuprum';
	font-weight:						100;
	font-style:							normal;
	src:								url('./fonts/Cuprum-regular.eot');
	src:								url('./fonts/Cuprum-regular.eot?#iefix') format('embedded-opentype'),
										local('Cuprum'),
										local('Cuprum-regular'),
										url('./fonts/Cuprum-regular.woff2') format('woff2'),
										url('./fonts/Cuprum-regular.woff') format('woff'),
										url('./fonts/Cuprum-regular.ttf') format('truetype'),
										url('./fonts/Cuprum-regular.svg#Cuprum') format('svg');
}



// STYLES

html, body
{
	height:								100vh;
}

body
{
	@extend 							%normalFont;
	background:							$backgroundVars;
	margin:   							$noPadding;
	padding:							$noPadding;
	color:								#c7cfe3;
	overflow:							hidden;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;

}

.main-container
{
	margin: 							0;
	padding: 							0;
	height:								100vh;
}

.text-container
{
	width: 								49%;
}
#page-body, .center
{
	height:								90% !important;
}


// GRID STUFF

// ROWS
.row2
{
	@extend 							%clearfix;

}

.row
{
	@extend 							%clearfix;
	height:								110vh;
}

// COLUMNS

[class^="column-"]
{
	float:								left !important;
	margin-right:						$largePadding;
	-webkit-box-sizing:					border-box; 
    -moz-box-sizing:					border-box; 
    box-sizing:							border-box;
 
    &:last-child 
    {
        margin-right:					0%;
    }
}

.column-1
{ 	
	width:								(100% / 12) - ($largePadding * 11 / 12);
}
.column-2
{ 	
	width:								(100% / 6) - ($largePadding * 10 / 12); 
}
.column-3
{ 	
	width:								(100% / 4) - ($largePadding * 9 / 12); 
}
.column-4
{ 	
	width:								(100% / 3) - ($largePadding * 8 / 12); 
}
.column-5
{ 	
	width:								(100% / 2.4) - ($largePadding * 7 / 12); 
}
.column-6
{ 	
	width:								(100% / 2) - ($largePadding * 6 / 12); 
}
.column-7
{ 	
	width:								(100% / 1.714285714285714) - ($largePadding * 5 / 12); 
}
.column-8
{ 	
	width:								(100% / 1.5) - ($largePadding * 4 / 12); 
}
.column-9
{ 	
	width:								(100% / 1.333333333333333) - ($largePadding * 3 / 12); 
}
.column-10
{ 	
	width:								(100% / 1.2) - ($largePadding * 2 / 12); 
}
.column-11
{ 	
	width:								(100% / 1.090909090909091) - ($largePadding * 1 / 12); 
}
.column-12
{ 	
	width:								100%; 
}

h2, h3, h4
{
	padding:							$noPadding;
	margin:								$noPadding;
	font-weight: 						0;
	letter-spacing:						$letterSpacing;
}

h4
{
	color:								lighten($headerColour, 70%) !important;
	margin-bottom:						$largePadding;
}

a 
{
	@extend 							%normalFont;
	text-decoration:					none;
	transition:							all 0.5s;
	
	&:hover
	{
		letter-spacing: 				1px;
	}
}

.link 
{
	font-size:							4em;
	padding-top:						20vh;
	height:								25vh;
	text-align: 						center;
	transition:							all 1s;
}

.portfolio-item
{
	margin-top: 						2%;
}

.portfolio-slides
{
	padding-top: 						2%;
}


.slide
{
}

.image-column
{
	width:21%;
	float:left;
	padding-left:2%;
	padding-right:2%;
}

.image-column img
{
	max-width:220px;
}
.next-column img
{
	padding-top:10%;
}

.next-column img
{
	max-width:128px;
	float:right;
}

.details-column
{
	width:44%;
	padding:2%;
	padding-left:5%;
	float:left;

}
.next-column
{
	width:23%;
	float:left;

}

.details-column header
{
	float:left;
	font-size:4.2em;
	width:100%;
	padding-top:4%;
	color: #e8ebf5;
}

.portfolio-description
{
	float:left;
	width: 								80%;
	margin-top: 						10%;
	padding-left: 						20%;
	font-size: 							1.15em;
}

.portfolio-site-link
{
	float:  							left;
	width: 								25%;
	padding-left: 						75%;
	margin-top: 						5%;
}

.portfolio-site-features
{
	float: 								left;
	width: 								80%;
	padding-left: 						20%;
	margin-top: 						15%;
}

.features-icon
{
	float:left;
	width: 								20%;
	padding-right: 						15%;
}
.features-list
{
	float:left;
	width: 								65%;
}

.blue-button
{
	background: 						$darkishBlue;
	padding: 							10%;
	text-align: 						center;
}

.clickable
{
	transition: all 0.8s;
	opacity: 1;
}

.clickable:hover
{
	cursor: pointer;
	opacity:0.5;
}


#navigation-header div
{
	@extend 							%center;
	-webkit-font-smoothing: 			antialiased !important;
}

.center
{
	@extend 							%center;
}

#navigation
{
	@extend 							%center;
	position:							fixed;
	bottom:								0;
	font-size: 							1.2em;
	width:								20%;
}

.nav-link
{
	transition:							all 1s;
	padding-top:						7%;
	padding-bottom:						7%;
	background: 						rgba(255,255,255,0.0);
}

.nav-link:hover
{
	cursor: 							pointer;
	background: 						rgba(255,255,255,0.1);
}

.nudge
{
	padding-left:						20%;
}

// content areas
.content-area
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.04+0,0+100 */
	background: 						-moz-linear-gradient(top, rgba(255,255,255,0.11) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: 						-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.11)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: 						-webkit-linear-gradient(top, rgba(255,255,255,0.11) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: 						-o-linear-gradient(top, rgba(255,255,255,0.11) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: 						-ms-linear-gradient(top, rgba(255,255,255,0.11) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: 						linear-gradient(to bottom, rgba(255,255,255,0.11) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: 							progid:DXImageTransform.Microsoft.gradient( startColorstr='#0affffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.content-1
{
	background:							$colour4;
	color: 								$offWhite;
}
.content-2
{
	background:							$colour3;
	color: 								$offWhite;
}
.content-3
{
	background:							$colour4;
	color: 								$offWhite;
}
.content-4
{
	background:							$colour3;
	color: 								$offWhite;
}

.active-link
{
	background: 						rgba(255,255,255,0.2);
	font-size:							1.34em;
}

.active-link:after
{
	content: 							"-";
}
.active-link:before
{
	content: 							"-";
}

.inner
{
	padding: 							4%;
}

.big-header
{
	font-size: 							7em;
	transition: 						all 1s;
	line-height: 						140px;

}

.goes-smaller
{
	font-size: 							2.5em;
	margin-top: 						-2%;
	opacity: 							0.2;
}

.introduction
{
	font-size: 							1.25em;
	line-height: 						25px;

}

.header
{
	float: 								left;
	font-size: 							4em;

}
.smallTitle
{
	margin-top:							2%;
	font-size:							1.5em;
}

.home
{

}

// animations


// anim is magic, add this to anything and it will jump back into it's original place

.home-line-one
{
	transition: 						all 0.4s;
	opacity:							0;
	margin-top:							-30%;
}

.home-line-two, .home-line-three, .home-line-four, .home-line-five
{
	opacity:							0;
	position:							relative;
	transition: 						all 0.5s;
	margin-left:						-60% !important;
}


.anim
{
	position:							relative;
	opacity:							1 !important;
	margin:								0 !important;
	padding:							0 !important;
	padding:2% 							!important;
}

.contact-form input
{
	@extend 							%input-default;
}

.contact-form input:hover
{
	@extend								%input-hover;
}

// DEFAULT OVERRIDES

::-webkit-input-placeholder {
   color: 								black;
}

:-moz-placeholder { /* Firefox 18- */
   color: 								black;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: 								black;  
}

:-ms-input-placeholder {  
   color: 								black;  
}