// --- vars

$backgroundVars:		#f9f9f9;
$noPadding:				0;
$smallPadding:			0.5%;
$largePadding:			2%;
$headerColour:			#000000;
$letterSpacing:	        2px;
$defaultFontSize:		1em;

$colour1:  				#AA4D39;
$colour2:  				#963254;
$colour3:  				#76276C;

@font-face {
  font-family: 			'Cuprum';
  font-weight: 			400;
  font-style: 			normal;
  src: 					url('./fonts/Cuprum-regular.eot');
  src: 					url('./fonts/Cuprum-regular.eot?#iefix') format('embedded-opentype'),
       					local('Cuprum'),
       					local('Cuprum-regular'),
      					url('./fonts/Cuprum-regular.woff2') format('woff2'),
       					url('./fonts/Cuprum-regular.woff') format('woff'),
       					url('./fonts/Cuprum-regular.ttf') format('truetype'),
       					url('./fonts/Cuprum-regular.svg#Cuprum') format('svg');
}



// --- extends

%clearfix:after
{
	display:			block;
	clear:				both;
	content:			"";
}

%center
{
	margin-left: 		auto !important;
    margin-right: 		auto !important;
    display:			inline-block !important;
    text-align:			center;
}

%fancyFont
{
	font-family: 		'Righteous', cursive;
}

%normalFont
{
	font-family:		'Cuprum';
}

// styling

html,body
{
	height:				100vh;
}
body
{
	@extend 			%normalFont;
	background:			$backgroundVars;
	margin:   			$noPadding;
	padding:			$noPadding;
}

.main-container
{
	margin: 			0;
	padding: 			0;
	height:				100vh;
}

#page-body, .center
{
	height:				90% !important;
}

.row
{
	@extend 			%clearfix;
	height:110vh;
}

[class^="column-"]
{
	float:				left;
	margin-right:		$largePadding;
	-webkit-box-sizing:	border-box; 
    -moz-box-sizing:	border-box; 
    box-sizing:			border-box;
 
    &:last-child 
    {
        margin-right:	0%;
    }
}

.column-1
{ 	
	width:				(100% / 12) - ($largePadding * 11 / 12);
}
.column-2
{ 	
	width:				(100% / 6) - ($largePadding * 10 / 12); 
}
.column-3
{ 	
	width:				(100% / 4) - ($largePadding * 9 / 12); 
}
.column-4
{ 	
	width:				(100% / 3) - ($largePadding * 8 / 12); 
}
.column-5
{ 	
	width:				(100% / 2.4) - ($largePadding * 7 / 12); 
}
.column-6
{ 	
	width:				(100% / 2) - ($largePadding * 6 / 12); 
}
.column-7
{ 	
	width:				(100% / 1.714285714285714) - ($largePadding * 5 / 12); 
}
.column-8
{ 	
	width:				(100% / 1.5) - ($largePadding * 4 / 12); 
}
.column-9
{ 	
	width:				(100% / 1.333333333333333) - ($largePadding * 3 / 12); 
}
.column-10
{ 	
	width:				(100% / 1.2) - ($largePadding * 2 / 12); 
}
.column-11
{ 	
	width:				(100% / 1.090909090909091) - ($largePadding * 1 / 12); 
}
.column-12
{ 	
	width:				100%; 
}

h2,h3,h4
{
	padding:			$noPadding;
	margin:				$noPadding;
	font-weight: 		0;
	letter-spacing:		$letterSpacing;
}

h4
{
	color:				lighten($headerColour, 70%) !important;
	margin-bottom:		$largePadding;
}

a 
{
	@extend 			%fancyFont;
	color:				$colour1;
	transition:			all 0.5s;
	&:hover
	{
		letter-spacing: 1px;
		color:			$colour2;
	}
}

#navigation-header div
{
	@extend 			%center;
	-webkit-font-smoothing: antialiased !important;
}

.center
{
	@extend 			%center;
}

#navigation
{
		@extend 			%center;
	position:			fixed;
	bottom:				0;
	font-size: 			1.2em;
	width:20%;
}

.nav-link
{
	transition:			all 1s;
	padding-top:		7%;
	padding-bottom:		7%;
	background: 		rgba(255,255,255,0.0);
}

.nav-link:hover
{
	cursor: 			pointer;
}

.nudge
{
	padding-left:		20%;
}
.content-area
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.04+0,0+100 */
	background: -moz-linear-gradient(top, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.04)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.04) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0.04) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0.04) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0.04) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0affffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.content-1
{
	background:			$colour1;	
}
.content-2
{
	background:			$colour2;
}
.content-3
{
	background:			$colour3;
}
.content-4
{
	background:			darken($colour2, 10%);
}

.active-link
{
	background: 		rgba(255,255,255,0.2);
	font-size:			1.34em;
}

.active-link:after
{
	content: 			"-";
}
.active-link:before
{
	content: 			"-";
}

.inner
{
	padding: 			4%;
}

.hello
{
	font-size: 			6em;
}

.introduction
{
	font-size: 			1.4em;
}

.home
{
	/*background: 		url(../img/1.png);
	background-repeat: 	no-repeat;
	background-position: 	left top -15%;
*/
}